extends layout

block content
	h1 #{title} #{genre.name}

	if books_with_genre.length
		p #[strong Delete the following books before attempting to delete this genre]
		each book in books_with_genre
			dt
				a(href=book.url) #{book.title}
			dd #{book.summary}

	else
		p Do you really want to delete this genre?

		form(method='POST')
			div.form-group
				input#genreid.form-control(type='hidden', name='genreid', value=genre._id)

			button.btn.btn-primary(value='submit') Delete